/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: -16px;
    margin-right: -16px;
}

/* Navigation Menu Styling */
nav {
    background-color: #333; /* Dark background */
    padding: 10px 0;
    
}

nav ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the menu */
}

nav ul li {
    margin: 0 15px; /* Spacing between items */
}

nav ul li a {
    color: #fff; /* White text */
    text-decoration: none; /* Remove underline */
    font-size: 1.1em;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00; /* Gold text on hover */
}
